.wrapper {
    --size: clamp(8rem, 1rem + 30vmin, 25rem); /* Updated default size */
    --duration: 60s;
    --color-text: #ffffff;
    --color-bg: #060606;
    --color-bg-accent: #111111;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--color-bg);
}

.wrapper--vertical {
    flex-direction: column;
}

.marquee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    white-space: nowrap;
    will-change: transform;
    animation: marquee var(--duration) linear infinite;
}


.marquee--vertical {
    flex-direction: column;
}

.marquee--reverse {
    animation: marquee-reverse var(--duration) linear infinite;
}

.marquee__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.marquee__group img {
    display: block;
    width: var(--size);
    height: var(--size);
    margin: 0.5rem;
}

.marquee--vertical .marquee__group img {
    margin-bottom: 0.5rem;
}

.paused {
    animation-play-state: paused;
}

@keyframes marquee {
    from { transform: translate(-50%, -50%) translateX(0); }
    to { transform: translate(-50%, -50%) translateX(-50%); }
}

@keyframes marquee-reverse {
    from { transform: translate(-50%, -50%) translateX(50%); }
    to { transform: translate(-50%, -50%) translateX(0); }
}
